@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Noto-Light";
  src: url("./assets/fonts/NotoSerif-Light.ttf");
}
@font-face {
  font-family: "Noto-LightIta";
  src: url("./assets/fonts/NotoSerif-LightItalic.ttf");
}
@font-face {
  font-family: "Noto-Reg";
  src: url("./assets/fonts/NotoSerif-Regular.ttf");
}
@font-face {
  font-family: "Noto-RegIta";
  src: url("./assets/fonts/NotoSerif-RegularItalic.ttf");
}
@font-face {
  font-family: "Noto-Med";
  src: url("./assets/fonts/NotoSerif-Medium.ttf");
}
@font-face {
  font-family: "Noto-MedIta";
  src: url("./assets/fonts/NotoSerif-MediumItalic.ttf");
}
@font-face {
  font-family: "Noto-SemiB";
  src: url("./assets/fonts/NotoSerif-SemiBold.ttf");
}
@font-face {
  font-family: "Noto-SemiBIta";
  src: url("./assets/fonts/NotoSerif-SemiBoldItalic.ttf");
}
@font-face {
  font-family: "Noto-Bold";
  src: url("./assets/fonts/NotoSerif-Bold.ttf");
}
@font-face {
  font-family: "Noto-BoldIta";
  src: url("./assets/fonts/NotoSerif-BoldItalic.ttf");
}
